fastapi
uvicorn
python-multipart
pypdf
langchain
langchain-text-splitters
sentence-transformers
chromadb
anthropic
python-dotenv
neo4j
langgraph
langchain-anthropic
langgraph-checkpoint-sqlite
langsmith
ragas==0.1.21
datasets
langchain-community
